*, *::after,  *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: black 1px solid; */
}

html, body {
    background: radial-gradient(ellipse at top, #5489c2, #8c3eb33f),
    linear-gradient(140deg, rgb(108, 108, 108), transparent 70% 100%),
    radial-gradient(ellipse at bottom, #bf1c63a3, #28b81b);

    /* height: 100vh; */

}


/* ------------- General ------------- */

a {
    text-decoration: none;
    color: #c7c732;
}

a:hover {
    color: #d0eb21;
}

nav ul {
    list-style: none;
    display: flex;
}

p {
    padding: 1rem 0;
    margin: 10px;
}


/* ------------- Header ------------- */

header {
    max-width: 1100px;
    margin:auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}

.main-header {
    padding: 10px;
}

nav {
    margin-right: 45px;
    align-items: flex-start;
}

header ul {
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

h1 {
    font-family: 'Big Shoulders Display', cursive;
    color: #e3e3e3;
    padding: 3vh 0;
}

.fa-sun {
    color: #e3e3e3;
    width:fit-content;
    font-size: 80px;
    /* padding: 3vh 3vw;  remake px */
}

header a.navbar-link {
    background: rgba(255,255,255,0.15);
}

a.navbar-link:hover {
    background: rgba(0, 0, 0, 0.15);
}


nav ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 1;
    width: 130px;
    height: 70px;
    text-align: center;
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 300;
    font-size: 24px;
    border-right: dotted 1px rgb(116, 0, 99);
}


nav ul li:first-child a {
        border-bottom-left-radius: 10px;
}

nav ul li:last-child a {
        border-right: none;
        border-bottom-right-radius: 10px;
}

.basic-article {
    width: 500px;
    height: 200px;
    background: rgba(255,255,255,0.15)
    radial-gradient(ellipse at center, #ffffff9c, transparent);
    border-radius: 5px;
    margin: 10px 10px;
}

main {
    max-width: 1100px;
    margin:auto;
    display: flex;
    flex-wrap: wrap;
}

.newspan {
    color:#28b81b;
    font-size: 23px;
    font-weight: 600;
}


/* ----------------------------------------------------- */


#snow-city {
    height: 200px;
}


.textart {
    height: 400px;
}

.textart ul li {
    padding-right: 15px;
    margin: 0 20px;
    list-style:circle;
}

.textart ol {
    margin-top: 20px;
}

.textart ol li,
.textart dl {

    margin: 0 35px;
    list-style:lower-greek;
    
}

table, td, th {
    margin: 20px;
    border: #5489c2 2px solid;
    border-collapse: collapse;
}

fieldset {
    padding: 10px;
    margin: 5px;
}

label, input:not([name="whattocheck"]) {
    display: block;
    margin: 10px;
}

legend {
    text-align: center;
}
